.details__container {
    display: flex;
    gap: 1em;
}

.squad {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px;
    width: 100%;
}

.player__container {
    width: 30%;
    margin-bottom: 24px;
    /* background-color: #000000; */
}

.player__image__container {
    background-blend-mode: multiply;
    position: relative;
    display: flex;
    color: var(--text-color-secondary);
}

.player__image__container > img {
    margin: 0 auto;
    width: 30%;
    object-fit: contain;
    margin-top: 8px;
}

.squad__container {
    flex: 3;
    background-color: var(--background-color-secondary);
    box-shadow: var(--box-shadow);
    border-radius: 12px;
}

.squadHeading {
    color: var(--text-color-primary);
    margin: 24px;
    margin-bottom: unset;
}

.player__position {
    position: absolute;
}

.player__name,
.player__nationality {
    text-align: center;
}

.player__name {
    color: var(--text-color-primary);
    margin-top: 8px;
}

.player__nationality {
    color: var(--text-color-secondary);
    font-size: 0.8rem;
}

.details {
    background-color: var(--background-color-secondary);
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    flex: 1;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.details__metadata {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    margin-top: 24px;
}

.details__image {
    width: 80%;
    object-fit: contain;
    margin: 0 auto;
}

.details__name {
    color: var(--text-color-primary);
    margin-top: 8px;
}

.details__shortCode {
    font-weight: var(--font-weight-light);
    color: var(--text-color-primary);
}

.details__metadata__value {
    color: var(--text-color-primary);
}

.details__metadata__label {
    color: var(--text-color-secondary);
    font-size: 0.7rem;
    text-align: center;
    margin-top: 8px;
}


@media screen and (max-width: 600px) {
    .details__container {
        display: unset;
    }

    .details {
        margin-bottom: 24px;
    }

    .details__image {
        width: 70%;
    }

    .player__container {
        width: 45%;
    }
}